.sec-bex { 
    width: 100%; 
    background: #1D1D1D; 
    color: #FAFAFA; 
    position: relative;
}

.con-ak8 { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
}

.sec-bex > h1{
    text-align: center;
    padding: 1% 0;
    font-size: 2.15vw;
    font-weight: 600;
  }

  .esp-qnp { 
    display: block; 
    height: 40px; 
    background: #FAFAFA;
  } 

  .esp-qnp  { 
    background: #1D1D1D;
  } 

  .sec-sjf { 
    text-align: center; 
    padding: 10px;
  } 

  h1 {     
    font-size: 24pt; 
    line-height: 50pt; 
    margin: 0;
  }

  .column-sdg { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  .grid-88e { 
    display: table; 
    margin: 0 auto;
  } 

  .cen-otn { 
    text-align: center;
  } 

  .menu-rls { 
    display: block; 
    list-style: none; 
    padding: 0px; 
    margin: 2px;
  } 

  .menu-rls li  { 
    display: inline-block; 
    margin: 0.6% 0.1%; 
    padding: 0;
  } 

  .button-dhk { 
    background-color: #a6a6a6; 
    color: #ffffff; 
    cursor: pointer; 
    transition: background 0.6s;
  } 

  .menu-rls li a{ 
    margin: 0; 
    padding: 1.55vw 3vw; 
    line-height: 70px; 
    font-size: 170%; 
    font-family: Kanit, Serif; 
    font-weight: 400;
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  .button-dhk:hover { 
    background-color: #737373;
  } 

  .sec-bex a:hover { 
    color: #ffffff;
  }